<div style="padding: 50px 0px 0px 250px">
    <p-table 
        [value]="products" 
        [rowsPerPageOptions]="[10, 25, 50]"
        [paginator]="true"
        selectionMode="multiple"
    >
        <ng-template pTemplate="header">
            <tr>
                <th style="width:10%"><p-tableHeaderCheckbox></p-tableHeaderCheckbox></th>
                <th pSortableColumn="code" style="width:30%">Code</th>
                <th pSortableColumn="name" style="width:30%">Name</th>
                <th style="width:10%">Actions</th>
            </tr>
            <tr>
                <th></th>
                <th>
                    <p-columnFilter 
                        type="text"
                        field="code" 
                        placeholder="Search by code" 
                        ariaLabel="Filter Code"></p-columnFilter>
                </th>
                <th>
                    <p-columnFilter 
                        type="text"
                        field="name" 
                        placeholder="Search by name" 
                        ariaLabel="Filter Name"></p-columnFilter>
                </th>
                <th>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
            <tr>
                <td>
                    <p-tableCheckbox [value]="product"></p-tableCheckbox>
                </td>
                <td>{{ product.code }}</td>
                <td>{{ product.name }}</td>
                <td>
                    <div>
                        <i class="pi pi-pencil" (click)="onEdit(product)"></i>
                        <i class="pi pi-trash" style="color: red; margin-left: 10px" (click)="onDelete(product)"></i>
                    </div> 
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>